<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>428019943779-h79on2ep8qhp01s5gais2f7aiferp6tc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.428019943779-h79on2ep8qhp01s5gais2f7aiferp6tc</string>
	<key>API_KEY</key>
	<string>AIzaSyAaXNs8Fa0GuJKoygLKrk8VHVXfO2T1LWI</string>
	<key>GCM_SENDER_ID</key>
	<string>428019943779</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>rs.IvanMavrazas.Chatka</string>
	<key>PROJECT_ID</key>
	<string>chatka-31bdc</string>
	<key>STORAGE_BUCKET</key>
	<string>chatka-31bdc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:428019943779:ios:6c8dab27afd4dcfc</string>
	<key>DATABASE_URL</key>
	<string>https://chatka-31bdc.firebaseio.com</string>
</dict>
</plist>